.line {
    fill: none;
    stroke: #000;
}

.arc path {
    fill: black;
    stroke: #fff;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}
